{% extends "base.html" %}
{% block content %}
<h2>Contact Us</h2>
<h1>India Head Office</h1>
<p>Email: india@citrineworld.com</p>
<p>office:citrine world private limited 
  
  4th Floor, Ground floor, No 360, F793, E W College Main Rd, BEL Layout, 1st Stage, Bharat Nagar, Bengaluru, Karnataka, INDIA 560091</p>

<h1>Nigeria Head Office</h1>
<p>Email: nigeria@citrineworld.com</p>

<p>office:Citrine Elements</p>
<h1> chinaHead Office</h1>
<p>Email: china@citrineworld.com</p>
<p>office:Citrine Elements

Foshan City, Shunde District, Lecong town

Lecong community residents on the 1st Jinrui Road,

Jinwei Lidu 13 303

佛山市顺德区乐从镇乐从社区居民委员金瑞一路1 号金威郦都13座 303</p>
{% endblock %}
