
{% extends "base.html" %}
{% block content %}
<div class="hero-section">
    <h2>Welcome to Citrine Elements</h2>
    <p class="hero-text">Your Trusted Partner in Global Mineral Trade</p>
    <div class="hero-cta">

        
 </div>
</div>

<div class="grid">
    {% for mineral in minerals %}
    <div class="card">
        <img src="{{ url_for('static', filename='images/' + mineral.image) }}" alt="{{ mineral.name }}">
        <div class="card-content">
            <h3>{{ mineral.name }}</h3>
            <p>{{ mineral.description }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
